body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3e23e9;
    z-index: 1000;
}

.fixed-nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0;
    padding: 0 20px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.nav-menu li a:hover {
    background-color: #310bba;
    color: #efede5;
    border-radius: 5px;
}

.content {
    padding-top: 60px; /* To avoid content getting hidden behind the fixed navbar */
}

section {
    padding: 50px;
    margin: 50px 0;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
}

h1 {
    margin-top: 0;
}
